@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  .group-hover\:[transform-style\:preserve-3d] {
    transform-style: preserve-3d;
  }
}

@page {
  size: auto;
  margin: 0mm;
}

@media print {
  body * {
    visibility: hidden;
  }
  .printable-report-area, .printable-report-area * {
    visibility: visible;
  }
  .printable-report-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto !important;
    overflow: visible !important;
    padding: 1.5rem !important; /* Adjust padding for print */
  }
  .no-print {
    display: none !important;
  }
}