@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  .group-hover\:[transform-style\:preserve-3d] {
    transform-style: preserve-3d;
  }
}