@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  .group-hover\:[transform-style\:preserve-3d] {
    transform-style: preserve-3d;
  }
}

@page {
  size: auto;
  margin: 0mm;
}

@media print {
  body * {
    visibility: hidden;
  }
  .receipt, .receipt * {
    visibility: visible;
  }
  .receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 10pt;
    color: black !important;
    background-color: white !important;
    box-shadow: none;
    border: none;
    max-height: none;
    overflow: visible;
  }
  .no-print {
    display: none !important;
  }
}