@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  .group-hover\:[transform-style\:preserve-3d] {
    transform-style: preserve-3d;
  }
}

@page {
  size: auto;
  margin: 0mm;
}

@media print {
  body * {
    visibility: hidden !important;
  }
  .printable-content, .printable-content * {
    visibility: visible !important;
  }
  .printable-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto !important;
    overflow: visible !important;
    padding: 1.5rem !important;
    box-shadow: none !important;
    border: none !important;
  }
  .no-print {
    display: none !important;
  }
}